@{
}
@model PruebaBansi.Models.Examen;

<div class = "row">
    <div class = "col-md-12 offset-sm-2">
        <h2>Editar examen</h2>
        <form asp-controller="Examen" asp-action="ActualizarExamen" method="post">
            <input asp-for="IdExamen" type="hidden"/>
            <div class = "mb-3">
                <label>Nombre</label>
                <input class="form-control" asp-for="Nombre" type="text" />
            </div>
            <div class = "mb-3">
                <label>Descripcion</label>
                <input class="form-control" asp-for="Descripcion" type="text" />
            </div>
            <div class = "mb-3">
                <button class = "btn btn-primary" type = "submit">Actualizar</button>
                <a asp-asp-controller="Examen" asp-action="Lista" class = "btn btn-warning">Regresar</a>
            </div>
        </form>
    </div>
</div>